#Iphone purchase prediction using K nearest neigbours algorithms

Import modules and Load the data

In [ ]:
import pandas as pd
dataset=pd.read_csv("/content/iphonepurchaserecords.csv")
dataset.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [ ]:
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,3].values

Convert Gender to Number

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_gender=LabelEncoder()
X[:,0]=le_gender.fit_transform(X[:,0])

Split data into training and test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

Fit the KNN classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5,metric="minkowski",p=2)
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

Make Prediction on test data

In [ ]:
y_pred=classifier.predict(X_test)

Check Accuracy of prediction

In [ ]:
from sklearn import metrics
cm=metrics.confusion_matrix(y_test,y_pred)
accuracy=metrics.accuracy_score(y_test,y_pred)
precision=metrics.precision_score(y_test,y_pred)
recall=metrics.recall_score(y_test,y_pred)
print(cm)
print("Accuracy: ",accuracy,"\n Precision: ",precision,"\n Recall score: ",recall)

[[64  4]
 [ 3 29]]
Accuracy:  0.93
 Precision:  0.8787878787878788
 Recall score:  0.90625